*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(233, 240, 234);
    font-family: 'poppins', sans-serif;
}
.cabecalho {
    background-color: #02391e;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 0;
}
.cabecalho-imagem{
width: 5%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 3vh;
    font-size: 2vh;
}
.cabecalho-lista-item a{
    text-decoration: none;
    color: #99e631;
}



.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
  }
  
  .slides {
    display: flex;
  }
  
  .slides img {
    width: 100%;
    display: none;
  }
  
  .slides img:first-child {
    display: block;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    padding: 5vh;
    font-size: 5vh;
    z-index: 100;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .slideshow-container:hover button {
    opacity: 1; /* Mostra as setas quando o mouse estiver sobre o contêiner */
  }

/* Estilo global */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
  font-size: 24vh;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10vh;
}

header nav ul li a {
  color: #020202;
  text-decoration: none;
  font-size: 2vh;
}

header nav ul li a:hover {
  text-decoration: underline;
}


section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 3vh;
  color: #235e14;
  padding: 2vh;
}

section p {
  color: #000000;
  font-size: 3vh;
  line-height: 1.6;
  padding: 2vh;
}

footer {
  background-color:#02391e ;
  color: #ffffff;
  text-align: center;
  padding: 2vh 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
      width: 90%;
  }

  header {
      text-align: center;
  }

  header h1 {
      font-size: 20px;
  }

  header nav ul li {
      display: block;
      margin: 10px 0;
  }
}

.rodape{
  background-color: #02391e;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vh 0;
}



header h1 {
  font-size: 2.5em;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 3vh;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #02391e;
}

nav ul li {
  position: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 10px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color:#519451;
  background-color: rgb(243, 241, 241);
  border-radius: 5px;

}


section {
  padding: 40px 20px;
  margin-bottom: 20px;
  background-color:#ffffff ;
  box-shadow: 0 0 10px rgba(252, 252, 252, 0.1);
}

section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

section p {
  font-size: 1.2em;
}
