*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: 'poppins', sans-serif;
}
.cabecalho {
    background-color: #02391e;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0;
}
.cabecalho-imagem{
width: 5%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}
.cabecalho-lista-item a{
    text-decoration: none;
    color: #99e631;
}

#escola{
    background-image: linear-gradient(#000000, #030303);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}


.slideshow-container {
    position: relative;
    max-width: 150vh;
    margin: auto;
  }
  
  .slides {
    display: flex;
  }
  
  .slides img {
    width: 100%;
    display: none;
  }
  
  .slides img:first-child {
    display: block;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5vh;
    font-size: 5vh;
    z-index: 100;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .slideshow-container:hover button {
    opacity: 1; /* Mostra as setas quando o mouse estiver sobre o contêiner */
  }

/* Estilo global */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px 0;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 3vh;
  color: #235e14;
}

section p {
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
}

footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
      width: 90%;
  }

  header {
      text-align: center;
  }

  header h1 {
      font-size: 20px;
  }

  header nav ul li {
      display: block;
      margin: 10px 0;
  }
}

.rodape{
  background-color: #02391e;
  text-align: center;
}

.rodape-imagem{
  height: 30px;
  padding: 5px 0;
}