*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0);
    font-family: 'poppins', sans-serif;
}
.cabecalho {
    background-color: #02391e;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0;
}
.cabecalho-imagem{
width: 5%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}
.cabecalho-lista-item a{
    text-decoration: none;
    color: #99e631;
}

#escola{
    background-image: linear-gradient(#000000, #030303);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.rodape{
    background-color: #02391e;
    text-align: center;
}

.rodape-imagem{
    height: 50px;
    padding: 5px 0;
}

.slideshow-container {
    position: relative;
    max-width: 150vh;
    margin: auto;
  }
  
  .slides {
    display: flex;
  }
  
  .slides img {
    width: 100%;
    display: none;
  }
  
  .slides img:first-child {
    display: block;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5vh;
    font-size: 5vh;
    z-index: 100;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .slideshow-container:hover button {
    opacity: 1; /* Mostra as setas quando o mouse estiver sobre o contêiner */
  }